
html, body {
    overflow-x: hidden;
}
body {
    padding-top: 70px;
}
footer {
    padding: 30px 40px;
}
@media screen and (max-width: 767px) {
.row-offcanvas {
    position: relative;
    transition: all 0.25s ease-out 0s;
}
.row-offcanvas-right {
    right: 0;
}
.row-offcanvas-left {
    left: 0;
}
.row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
}
.row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
}
.row-offcanvas-right.active {
    right: 50%;
}
.row-offcanvas-left.active {
    left: 50%;
}
.sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
}
}

a:link {
    display: block;
}

.spezial2{
    background-color: #eee;
    cursor: pointer;
}
.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5252), color-stop(1, #ff5c5c));
	background:-moz-linear-gradient(top, #ff5252 5%, #ff5c5c 100%);
	background:-webkit-linear-gradient(top, #ff5252 5%, #ff5c5c 100%);
	background:-o-linear-gradient(top, #ff5252 5%, #ff5c5c 100%);
	background:-ms-linear-gradient(top, #ff5252 5%, #ff5c5c 100%);
	background:linear-gradient(to bottom, #ff5252 5%, #ff5c5c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5252', endColorstr='#ff5c5c',GradientType=0);
	background-color:#ff5252;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5c5c), color-stop(1, #ff5252));
	background:-moz-linear-gradient(top, #ff5c5c 5%, #ff5252 100%);
	background:-webkit-linear-gradient(top, #ff5c5c 5%, #ff5252 100%);
	background:-o-linear-gradient(top, #ff5c5c 5%, #ff5252 100%);
	background:-ms-linear-gradient(top, #ff5c5c 5%, #ff5252 100%);
	background:linear-gradient(to bottom, #ff5c5c 5%, #ff5252 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c5c', endColorstr='#ff5252',GradientType=0);
	background-color:#ff5c5c;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.statusTabelle{
    background-color: #2aff32;
}

.statusTabelleab{
    background-color: #ff4444
}

.logo {
    float: left;
    margin: 5px;
    width: 25%;
}